h1 {
    color: rgb(187, 23, 23);
}

a:link {
    color: blue;
}

a:visited {
    color: rgb(116, 30, 196);
}

body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.items {
    width: 50%;
    margin: 5px;
    padding: 5px;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

#links {
    margin-top: 10px;
}

#tab {
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

.tab1 {
    background-color: azure;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

footer {
    align-items: center;
    margin: 5px;
    padding: 5px;
}
